[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SBGNview"]
	path = SBGNview
	url = https://github.com/datapplab/sbgnview
[submodule "gage"]
	path = gage
	url = https://github.com/datapplab/gage
[submodule "pathview"]
	path = pathview
	url = https://github.com/datapplab/pathview
